.Overlay {
    overscroll-behavior: contain;
    position: fixed;
       overflow:hidden;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12141780;
      z-index: 100000000;
   
  }
  
  .Modal {
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px);
    transition:all 0.5s ease;
  }