.section {
  width: 100%;
  display: flex;
}
.sideBar {
  width: 15%;
  height: 100vh;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(230, 230, 230);
  /* position: fixed; */
  z-index: 15;

}
.navBar {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main {
  width: 100%;
}
