.section {
  width: 100%;
  display: flex;
}
.sideBar {
  width: 15%;
  height: 100vh;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(230, 230, 230, 0.472);
  position: fixed;
  backdrop-filter: blur(3px);
  z-index: 15;
  transition: left 0.3s ease, opacity 0.3s ease;
}
.navBar {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main {
  width: 100%;
}
.openMenuBtn {
  rotate: -90deg;
  cursor: pointer;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 5%;
  left:0;
  transition: all 0.3s ease;
  transition-delay: 50ms;
  z-index: 25;
  padding: 16px;
  border-radius: 50%;

}
.openMenuBtn:hover {
  transform: scale(1.05);
}
.clzdMenu{
  left: 11%;
  rotate: 90deg;
}