.modalBody {
  width: 541px;
  /* height: 70vw; */
  background-color: #fff;
  border-radius: 24px;
  padding: 40px;
  position: relative;
}
.icon {
  position: absolute;
  top: 14px;
  right: 14px;
  color: white;
  cursor: pointer;
}
.imageContainer {
  width: 100%;
  height: 268px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
  margin-bottom: 14px;
}
.image {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  height: 268px;
}
.modalTitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 14px;
  text-transform: capitalize;
}
.blued {
  color: #3470ff;
  font-weight: 600;
}
.feautersList {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  row-gap: 4px;
  color: #12141780;
  font-size: 12px;
  line-height: 18px;
}

.feautersList > li:not(:last-child) {
  padding-right: 6px;
  border-right: 1px solid #12141710;
}
.feautersList > li:last-child {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.desription {
  width: 95%;
  margin-top: 14px;
  color: #121417;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.subTitle {
  margin-top: 24px;
  font-size: 14px;
  line-height: 20px/16px;
  font-weight: 500;
}
.rentalDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.24px;
  margin-top: 8px;
}

.rentalDetails > li {
  padding: 7px 14px;
  border-radius: 35px;
  background-color: #f9f9f9;
}
